<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nfl-pbp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript">
        $(document).ready(function() {
            $('#refresh').click(function() {
                window.location.reload();
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">nfl-pbp</a>
        <a class="nav-link" href="https://github.com/sathvikbalaji/nfl-pbp/">Source code</a>
    </nav>
    <div class="container">
        <br><br>
        <button type="button" id="refresh">Refresh game</button>
        <br><br>
    	{% for item in game %}
        	<li>{{ item }}</li>
    	{% endfor %}
    </div>
</body>
</html>