<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nfl-pbp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">nfl-pbp</a>
        <a class="nav-link" href="https://github.com/sathvikbalaji/nfl-pbp/tree/main/src">Source code</a>
    </nav>
    <div class="container">
        <br><br>
        <div">Game not found</div>
        <br><br>
    </div>
</body>
</html>